 

/* Custom Styles */
 
:root { 
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
} 

body {
    font-family: var(--font-inter, "Inter", system-ui, -apple-system, sans-serif) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-inter, "Inter", system-ui, -apple-system, sans-serif);
}

h1, h2, h3 {
    color: var(--primary);
}

html, body { 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
